<h1><%= @chatroom.name %></h1>
<div id="messages">
	<% @messages.each do |message| %>
		<p><%= render partial: "messages/message", locals: { message: message } %></p>
	<% end %>
</div>
<div id="chatroom-id" data-chatroom-id="<%= chatroom.id %>"></div>
<%= form_with url: chatroom_messages_path(@chatroom), local: true do |form| %>
	<%= form.text_area :content %>
	<%= form.submit "Send" %>
<% end %>
